@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;
      color: #213547;
      background-color: #f7f7f7;
  
      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
    }
  }

  @layer utilities {
    .list::-webkit-scrollbar {
      @apply w-[15px];
    }
  
    .list::-webkit-scrollbar-track {
      @apply bg-gray-100 rounded-lg;
    }
  
    .list::-webkit-scrollbar-thumb {
      @apply bg-blue-200 rounded-lg border-4 border-gray-100;
    }
  }